
    <h4>Agregar nuevo personaje</h4>
    <form class="row">
        <input class="form-control mb-2" [(ngModel)]="character.name" 
        name="name" type="text" 
        placeholder="Nombre">

        <input class="form-control mb-2" [(ngModel)]="character.power"  
        name="power" type="number" 
        placeholder="Poder"> 

        <button type="submit" class="btn btn-primary" (click)="emitCharacter()">
            Agregar +
        </button>
       <!-- <pre>{{character | json}}</pre>-->
    </form>

